In [1]:
# !pip install mlxtend

In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
df = pd.read_csv("LoginDataSet.csv", names = ['products'], sep = ',')
df.head()

            products
0        vi,tex,john
1  tex,vi,john,batch
2    tex,python,liza
3  java,maggi,tex,vi
4  maggi,python,john

In [4]:
df.shape

(20, 1)

In [5]:
data = list(df["products"].apply(lambda x:x.split(",") ))
data

[['vi', 'tex', 'john'],
 ['tex', 'vi', 'john', 'batch'],
 ['tex', 'python', 'liza'],
 ['java', 'maggi', 'tex', 'vi'],
 ['maggi', 'python', 'john'],
 ['tex', 'python', 'liza'],
 ['maggi', 'python', 'batch'],
 ['maggi', 'tex', 'python', 'john'],
 ['java', 'maggi', 'tex', 'python'],
 ['tex', 'vi'],
 ['json', 'html', 'john', 'batch'],
 ['json', 'html', 'john', 'batch'],
 ['json', 'george', 'liza'],
 ['tex', 'json', 'html'],
 ['tex', 'george', 'john'],
 ['json', 'george', 'batch'],
 ['tex', 'george', 'liza'],
 ['tex', 'json', 'george'],
 ['tex', 'json', 'george'],
 ['python', 'vi', 'json', 'batch']]

In [6]:
from mlxtend.preprocessing import TransactionEncoder

a = TransactionEncoder()
a_data = a.fit(data).transform(data)

df = pd.DataFrame(a_data,columns=a.columns_)
df = df.replace(False,0)
df = df.replace(True,1)
df

    batch  george  html  java  john  json  liza  maggi  python  tex  vi
0       0       0     0     0     1     0     0      0       0    1   1
1       1       0     0     0     1     0     0      0       0    1   1
2       0       0     0     0     0     0     1      0       1    1   0
3       0       0     0     1     0     0     0      1       0    1   1
4       0       0     0     0     1     0     0      1       1    0   0
5       0       0     0     0     0     0     1      0       1    1   0
6       1       0     0     0     0     0     0      1       1    0   0
7       0       0     0     0     1     0     0      1       1    1   0
8       0       0     0     1     0     0     0      1       1    1   0
9       0       0     0     0     0     0     0      0       0    1   1
10      1       0     1     0     1     1     0      0       0    0   0
11      1       0     1     0     1     1     0      0       0    0   0
12      0       1     0     0     0     1     1      0       0    0   0
13      0       0     1     0     0     1     0      0       0    1   0
14      0       1     0     0     1     0     0      0       0    1   0
15      1       1     0     0     0     1     0      0       0    0   0
16      0       1     0     0     0     0     1      0       0    1   0
17      0       1     0     0     0     1     0      0       0    1   0
18      0       1     0     0     0     1     0      0       0    1   0
19      1       0     0     0     0     1     0      0       1    0   1

In [7]:
df = apriori(df, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 39 combinations | Sampling itemset size 3

    support         itemsets
0      0.30          (batch)
1      0.30         (george)
2      0.35           (john)
3      0.40           (json)
4      0.20           (liza)
5      0.25          (maggi)
6      0.35         (python)
7      0.65            (tex)
8      0.25             (vi)
9      0.20    (batch, json)
10     0.20   (json, george)
11     0.20    (george, tex)
12     0.20      (john, tex)
13     0.20  (maggi, python)
14     0.20    (python, tex)
15     0.20        (vi, tex)

In [8]:
#Let's view our interpretation values using the Associan rule function.
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(batch),(json),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80
1,(george),(json),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80
2,(george),(tex),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.05
3,(maggi),(python),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.25
4,(vi),(tex),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.75